@import url('https://fonts.googleapis.com/css?family=Eczar|Open+Sans');

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

body {
	margin: 0;
}

h1, h2, h3, h4 {
  font-family: 'Eczar', serif;
  opacity: 0.8;
}

p, label {
  font-family: 'Open Sans', sans-serif;
  opacity: 0.8;
}

#memeOut {
  white-space:pre-wrap;
}

#mainContent {
  width: 800px;
  padding-left: 50px;
  padding-right: 50px;

  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Footer */
footer {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 50px;
  text-align: center;
  opacity: 0.7;

}

input[type=text] {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 15px;
  box-sizing: border-box;
}

/***************************************/
/* Got some button code from
https://codepen.io/FelipeMarcos/pen/tfhEg*/

.color .blue   {background: #6698cb;}

/* Colors for .btn and .btn-two */
.btn.blue   {background-color: #7fb1bf;}

/* default button style */
.btn {
	position: relative;
	border: 0;
	padding: 15px 25px;
	display: inline-block;
	text-align: center;
	color: white;
}
.btn:active {
	top: 4px;
}

/* color classes for .btn */
.btn.blue {box-shadow: 0px 4px #74a3b0;}
.btn.blue:active {box-shadow: 0 0 #74a3b0; background-color: #709CA8;}



/************ Mobile options *****************/

/* Tablet kinda adjustments */
@media screen and (max-width: 910px) {

  #mainContent {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 0;
    margin-right: 0;
  }
}

/** Moible adjustments */
@media screen and (max-width: 400px) {
  #mainContent {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
}
